body {
  /* background: lightgray; */
  font-family: Gill Sans, sans-serif;
  color: #ccccccff;
  text-align: center;
  background: black;
  /*padding: 5%;*/
  text-align: center;
}
h1 {
  font-size: 300%;
}
table {
  padding: inherit;
  text-align: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
button {
  border: #ccccccff;
  background-color: black;
  border-radius: 20px;
}
img {
  cursor: pointer;
  border-width: 2;
  background-color: black;
  width: 10%;
  height: 40%;
}
