body {
  /* background: lightgray; */
  font-family: Gill Sans, sans-serif;
  color: white;
  text-align: center;
  background: black;
  padding: 5%;
  text-align: center;
}
h1 {
  /* background: white; */
}
h2 {
  background: green;
}
h3 {
  background: #646464;
}

.ui-tabs-panel {
  background: red;
}
table {
  padding: inherit;
  text-align: center;
  width: 100%;
}
